
<div class="row">
  <div class="col-md-10 col-md-offset-1">


<h1>NEW EVENT</h1>

<%= form_for @event, :url => admin_events_path do |n|  %>

<%= render :partial => 'form', :locals => { :n => n } %>

<%= n.submit "Create", :class => "btn btn-primary" %>
<%= link_to "Cancel", admin_events_path, :class => "btn btn-info pull-right" %>

<div class="clearfix"></div>

<% end %>

  </div>  
</div>

<script>

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      todayHighlight: true,
      language: "zh-TW"
    });
  })

</script>