

<div id="masonry-container" class="store-list transitions-enabled clearfix">
  <% @store.each do |y| %>
    <div class="box">
       <div class="store-showbox-content">
          <%= link_to store_path(y) do %>
            <% if y.yelp_image == nil %>
              <%= image_tag('store_default.jpg', :class => 'def-img') %>
            <% else %>
              <%= image_tag(y.yelp_image) %>
            <% end %>
            <div class="store-name">
              <p><%= y.name %></p>
            </div>
          <% end %>
       </div>
    </div>
  <% end %>
</div>



<div class="text-center">
<%#= paginate @store, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
</div>
