<!--
<div class="store-image">
  <div class="col-md-6 col-md-offset-3">
    <% if @store.photo %>
      <%= image_tag(@store.photo) %>
    <% elsif @store.yelp_image == nil %>
      <%= image_tag('store_default.jpg', :class => 'def-img') %>
    <% else %>
      <%= image_tag(@store.yelp_image) %>
    <% end %>
  </div>
</div> -->

<style>
#store-banner > div > img {
  width: 100%;
}
@media screen and (max-width: 750px) {
  #store-banner > div > img {
    width: 150%;
    position: relative;
    left: -25%;
  }
}
</style>

<div id="store-banner">
  <div style="width:100%;height:auto;overflow:hidden;" class="text-center">
    <img src="http://dummyimage.com/1920x500/cccccc/ffffff.png&text=Banner" alt="">
  </div>
</div>
<div id="store-event" style="margin-top:30px;">
  <div class="container event-container">
    <div id="wrap" class="">
      <img src="http://dummyimage.com/360x640/cccccc/ffffff.png&text=Event" alt="">
      <img src="http://dummyimage.com/360x640/cccccc/ffffff.png&text=Event" alt="">
      <img src="http://dummyimage.com/360x640/cccccc/ffffff.png&text=Event" alt="">
      <img src="http://dummyimage.com/360x640/cccccc/ffffff.png&text=Event" alt="">
      <img src="http://dummyimage.com/360x640/cccccc/ffffff.png&text=Event" alt="">
    </div>
  </div>
</div>
<div id="plan-view" class="text-center" style="margin-top:30px;">
  <img src="http://dummyimage.com/800x500/cccccc/ffffff.png&text=PlanView" alt="" style="max-width:100%;">
</div>
<div id="gogole-map" style="margin-top:30px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14459.878237166502!2d121.566021!3d25.0351071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x60f9b663d6a4deb1!2sATT+4+FUN!5e0!3m2!1szh-TW!2stw!4v1472441257269" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<script>
  $(document).ready(function(e){
    $("#wrap").addClass("owl-carousel");
    $(".owl-carousel").owlCarousel({
      items: 3,
      navigation : false,
      slideSpeed: 300,
      paginationSpeed : 400,
      singleItem: function(issingle) {
          if ($(window).width() < 750) {
            return true;
          } else {
            return false;
          }
        }
    });
  })
</script>
