
<h1><%= @dj.name %></h1>
<%= image_tag @dj.photo.url %>

<table class="table">
  <tr>
    <th>Description</th>
    <td><%= @dj.description %></td>
  </tr>
</table>


<%= link_to 'Back', admin_dj_index_path, :class => 'btn btn-default' %>