
<% @dj.each do |x| %>
  <div class="col-xs-6">
    <%= link_to dj_path(x) do %>
      <% if x.photo.exists? == false %>
        <%= image_tag("dj_img.jpg", :class => "") %>
      <% else %>
        <%= image_tag x.photo.url(:medium), :class => "" %>
      <% end %>
      <h3><%= x.name %></h3>
    <% end %>
  </div>
<% end %>