
<div class="container event-container">
  <div id="wrap" class="">
    <% @event.each do |x| %>
        <%= link_to image_tag(x.edm.url), event_path(x) %>
    <% end %>
  </div>
</div>



<script>
  $(document).ready(function(e){

      $("#wrap").addClass("owl-carousel");
      $(".owl-carousel").owlCarousel({
        items: 3,
        navigation : true,
        slideSpeed: 300,
        paginationSpeed : 400,
        singleItem: function(issingle) {
            if ($(window).width() > 750) {
              return false;
            }else {
              return true;
            }
          }
      });  
     
  })
</script>