
<div class="container">
  <div class="owl-carousel">
    <% Events.all.each do |x| %>
    <div> <%= image_tag(x.edm.url) %> </div>
    <% end %>
  </div>
</div>



<script>
  $(document).on("page:change", function(){

    $(".owl-carousel").owlCarousel({
      items: function(items) {
          if ($(window).width() > 750) {
            return 3;
          }
        },
      slideSpeed: 300,
      paginationSpeed : 400,
      singleItem: function(issingle) {
          if ($(window).width() > 750) {
            return false;
          }else {
            return true;
          }
        },
    });

  })
</script>