@import "bootstrap-sprockets";
@import "bootstrap";
@import "tipsy";
@import "owl.carousel";
@import "owl.theme";
@import 'bootstrap-datepicker';
@import 'categories';
@import 'profile';
@import 'events';

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

#menu {
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);

  .navbar-brand {
    color: #fff;
  }

  .nav li a{
    color: #ddd;
  }

  .divider {
    background: rgba(255,255,255,0.3);
    width: 96%;
    height: 1px;
    margin-left: 2%;
  }

  .collapse .open .dropdown-menu li a {
    color: #ddd;
  }
}
