@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';

@import "bootstrap-sprockets";
@import "bootstrap";
@import "tipsy";
@import "owl.carousel";
@import "owl.theme";
@import 'bootstrap-datepicker';
@import 'categories';
@import 'profile';
@import 'events';
@import 'stores';
@import 'general';
@import 'dj';

$deepblue: #002961;
$black: #000;

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

#menu {
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);

  .navbar-brand {
    color: #fff;
  }

  .dropdown-menu {
    background: $black;
  }

  .nav {
    li a{
      color: #ddd;
    }
    li a:hover {
      background: $deepblue;
    }
  }
  .divider {
    background: rgba(255,255,255,0.3);
    width: 96%;
    height: 1px;
    margin-left: 2%;
  }

  .collapse .open .dropdown-menu li a {
    color: #ddd;
  }
}
