.djs {

  #masonry-container {
    margin: 0 auto;
    width: 100%;
  }

  iframe {
        width: 100%;
      }

  .dj-image-box {
    position: relative;
    overflow: hidden;
    padding: 0;
    text-align: center;

    img {
      width: 200px;
    }

    h3 {
      color: white;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      z-index: 100;
      background: rgba(0,0,0,0.1);
    }
  }

  .col-xs-12 {
    position: relative;
    text-align: center;

    img {
      width: 100%;
    }

    h1 {
      position: absolute;
      bottom: 0;
      display: block;
      z-index: 100;
      background: rgba(0,0,0,0.2);
      width: 100%;
    }
  }
}


@media screen and (max-width: 550px) {
  .djs {
    
    .box {
      margin: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .col-md-3 {
      padding: 0;
      
    }

    .dj-image-box {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}





