.events {
  // background: #000; 
}

.container {
  background: #000;
  position: relative;
  width: 100%;
  padding: 0;

  .owl-carousel {
    background: #002961;

    img {
      width: 100%;
    }

  }

}
