.events {

  iframe {
    width: 100%;
  }

  .container {

    .owl-carousel {

      img {
        width: 100%;
      }

    }

  }
  
  .box {
    padding: 0;
  }

}



@media screen and (min-width: 991px) {
  .events {
  
    .event-show-edm {
      margin-top: 15px;

    }

    #wrap {

      img {
        width: 350px;
      }
    }  

  }
}



@media screen and (max-width: 990px) {
  .events {
    
    .event-show-edm {
      position: relative;
      top: 15px;
      display: block;
      margin: 0 auto;
    }

  }
}

