.events {

  iframe {
    width: 100%;
  }

  .container {
    position: relative;
    width: 100%;
    padding: 0;

    .owl-carousel {
      background: #002961;

      img {
        width: 100%;
      }

    }

  }
  
  .box {
    padding: 0;
  }

}



@media screen and (min-width: 550px) {
  .events {
  
    #wrap {

      img {
        width: 350px;
      }
    }  

  }
}