.stores {

  .store-image {
    width: 100%;

    img {
      width: 100%;      
    }
  }

  .store-image .col-md-6 {
    padding: 0;
  }

  #masonry-container {
    margin: 0 auto;
    width: 100%;
  }
  .box {
    padding: 0;
    width: 200px;
  }

  #black-board {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    .container {
    padding-top: 3%; 
    padding-bottom: 3%;
    height: 100%;
      .content {
        padding: 3%;
        height: 100%;
        background: #111;
        overflow-y: scroll; 
        overflow-x: hidden;
        .store-img {
          text-align: center;
          img {
            width: 90%;
          }
        }
      }
    }
    .close-board {
      color: #fff;
      font-size: 2em
    }
    .close-board:hover {
      color: $lightblue;
    }
  }

}


.store-showbox-content {
  background: #000;
  position: relative;
  width: 100%;
  // height: 300px;
  overflow: hidden;

  img {
    position: relative;
    width: 100%;
    transition: transform .3s ease-out; 
  }
  img:hover {
    transform: scale(1.1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

}

@media screen and (max-width: 550px) {
  .stores {

    .box {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }
}


