.stores {

  .store-show-image {
    width: 100%;
  }

  #masonry-container {
    margin: 0 auto;
    width: 100%;
  }
  .box {
    padding: 0;
    width: 200px;
  }

}


.store-showbox-content {
  background: #000;
  position: relative;
  width: 100%;
  // height: 300px;
  overflow: hidden;

  img {
    position: relative;
    width: 100%;
  }

  .def-img {
    // -webkit-filter: blur(5px);
    // filter: blur(5px);
  }

  .store-name {
    display: block;
    background: rgba(0,0,0,0.1);
    box-sizing : border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;

    p {
      position: relative;
      font-size: 25px;
      top: 50px;
      color: #fff;
      
    }

  }

}

@media screen and (max-width: 550px) {
  .stores {

    .box {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }
}


