

.tipsy {

  .banner {
  
    #banner-bg {
      z-index: -100;
      width: 100%;
      height: 700px;
      position: absolute;
      top: 0;
      background-image: image-url("banner.jpg");
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-size: cover;
      // -webkit-filter: blur(2px);
      // filter: blur(2px);
      // transform: scale(1.1);
    }

    .black-wrap {
      position: absolute;
      background: rgba(0,0,0,0.5);
      width: 100%;
      height: 645px;
      z-index: 10;
    }

    .jumbotron {
      background: none;
      position: relative;
      z-index: 100;
    }
    
    h1 {
      color: #fff;
      display: block;
      text-align: center;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      color: $lightblue;
    }

    .fa {
      position:relative;
      animation: shrink 0.8s infinite;
    }

    @keyframes shrink {
      0% {
        top: 5px;
      }
      50% {
        top: 20px;
      }
      100% {
        top: 5px;
      }
    }


  }


// main content
  #content1 {
    
    img {
      width: 100%;
    }

    .col-md-4, .col-md-5, .col-md-6, .col-md-7 {
      padding: 0;
    }
    .rt1, .rt2, .rm1, .rm2, .rm3, .rb1, .rb2 {
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center; 

    }

    
    .col-l1 {
      background: image-url("l1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; 
      .event-info{
        text-align: center;
        padding: 10px;
        h2 {
          margin-top: 180px;
          display: block;
          text-align: center;
          font-size: 5em;
        }
        p {
          margin-top: 50px;
          display: block;
          text-align: center;
          font-size: 1.5em;
        }
        a {
          position: relative;
          top: 20px;
          font-size: 1.5em;
          padding: 10px 40px 10px 40px;
          border-radius: 25px;
          background: #fff;
          color: #000;
          text-decoration: none;
        }
        a:hover {
          background: rgba(0,0,0,0.8);
          color: $lightblue;
        }
      }
    }
    .rb1 {
      background: image-url("rb1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; 

      .black-wrap{
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      .container {
        position: absolute;
        width: 100%;
        z-index: 100; 
      }
      h2 {
        position: relative;
        margin-top: 50px;
        display: block;
        text-align: center;
        font-size: 4em;
      }
      p {
        position: relative;
        display: block;
        text-align: center;
        font-size: 1.4em; 
      }
    }
    .rb2 {
      background: image-url("rb2.jpg");
    }

  }

// DJ block
  #dj-block {
    .jumbotron {
      background: image-url("dj-block.jpg") #000 ;
      background-repeat: no-repeat;
      background-position: left center; 
      background-size: auto;
      margin-bottom: 0;
      height: 600px;
      padding-top: 200px;
      padding-left: 15%;
      padding-right: 0;
    }
    .container {
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      z-index: 100;
    }
    .dj-btn {
      color: #333;
      text-decoration: none;
      background: #fff;
      padding: 10px 25px 10px 25px;
      border-radius: 25px;
    }
    .dj-btn:hover {
      background: rgba(0,0,0,0.8);
      color: $lightblue;
    }

  }


// VIP block
  #vip {
    .black-wrap{
      position: absolute;
      background: rgba(0,0,0,0.6);
      width: 100%;
      height: 600px;
      z-index: 10;
    }
    .jumbotron {
      background: image-url("club-queue.jpg");
      background-repeat: no-repeat;
      background-position: 30% center; 
      background-size: cover;
      margin-bottom: 0;
      height: 600px;
      padding-top: 200px;
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      z-index: 100;
    }
    .vip-btn {
      color: #333;
      text-decoration: none;
      background: #fff;
      padding: 10px 25px 10px 25px;
      border-radius: 25px;
    }
    .vip-btn:hover {
      background: rgba(0,0,0,0.8);
      color: $lightblue;
    }

  }

  .modal {
    color: #000;
  }

  #black-board {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    .container {
    padding-top: 5%; 
      .content {
      // overflow: hidden;
      // display: inline;
        img {
          width: 250px;
          transition: transform .3s ease-out; 
        }
        img:hover { 
          transform: scale(1.2);
        }
      }
    }
    .close-board {
      color: #fff;
      font-size: 2em
    }
    .close-board:hover {
      color: $lightblue;
    }
  }

  

}

@media screen and (max-width: 750px) {
  
  .tipsy {
    #dj-block {
      .jumbotron {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 750px) {
  .tipsy {
    .banner {
      .jumbotron {
        h1 {
          font-size: 2em;
        }
      }
    }
    .wrap {
      .col-l1 {
        z-index: 101;
        height: 700px;
        h2 {
          margin-top: 80px;
          padding-top: 60px;
        }
      }
      .rb1 {
        height: 400px;

        p {
          margin-top: 50px;
        }
      }
    }
    
  }
}

@media screen and (max-width: 350px) {
  .tipsy {
    .banner {
      .jumbotron {
        h1 {
          font-size: 1.6em;
        }
        h3 {
          font-size: 1.3em;
        }
      }
    }
    .wrap {
      .col-l1 {
        z-index: 101;
        height: 500px;
        h2 {
          font-size: 3em;
          margin-top: 80px;
          padding-top: 60px;
        }
      }
      .rb1 {
        height: 400px;
        h2 {
          font-size: 3em;
        }
        p {
          font-size: 1.2em;
          margin-top: 50px;
        }
      }
    }
  }
}






