
body {
  background: #002961;
}

.navbar-brand {
  padding: 5px;
}

.banner {
  overflow: hidden;

  #bgvid {
    z-index: -100;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    background-image: image-url("banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // -webkit-filter: blur(2px);
    // filter: blur(2px);
    // transform: scale(1.1);
  }
  
  h1 {
    color: #fff;
    display: block;
    text-align: center;
  }

}




